transistordatabase/.idea/
transistordatabase/Test-Transistor_S1.mat
transistordatabase/__pycache__/
gpgit/
*.pyc
*.pdf
*.html
*.scl
build/
dist/
transistordatabase.egg-info/
.eggs/
/.idea
/template_example/template_trials.py
transistordatabase/cloned_repo_TDB_File_Exchange
transistordatabase/DPT_test.py
transistordatabase/database
transistordatabase/tdb_example_downloaded
database/
output/
.vscode/
.venv/
docs/_build
dictionary.dic