{% extends "VirtualDatasheet_BaseTemplate.html" %}
{% block content %}

<!-- ********** code is for checking if the energy and img plots exists for extending html page ************* -->
{% set pagesReqForDiode = 1 %}
{% set pagesReqForSwitch = 1 %}

{% set diode_plots = {} %}
{% set switch_plots = {} %}
{% set trans_plots = {} %}
{% set trans_title = {'c_plots': 'Voltage dependant Capacitance'} %}
{% set switch_title = {'channel_plots': 'Channel Characteristics', 'energy_plots': 'Current vs Energy curves', 'energy_plots_r': 'Rg vs Energy curves', 'r_channel_th_plot':'On Resistance plots', 'charge_curve':'Gate charge,Qg','imp_plot':'Impedance plot', 'soa':'Safe operating Area'} %}
{% set diode_title = {'channel_plots': 'Channel Characteristics', 'energy_plots': 'Current vs Energy curves', 'energy_plots_r': 'Rg vs Energy curves', 'imp_plot':'Impedance plot', 'soa':'Safe operating Area' } %}

<!--******* diode ********* -->
{% for key, value in diode['plots'].items() %}
	{% if value is mapping and value|length > 0 %}
		{% for channel_key, channel_value in value.items() %}
			{% if channel_value is not none %}
			{% do diode_plots.update({channel_key: channel_value}) %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% if value is not none %}
		{% do diode_plots.update({key: value}) %}
		{% endif %}
	{% endif %}
{% endfor %}


{% if diode['foster_plot']['imp_plot'] is not none %}
{% do diode_plots.update({'imp_plot': diode['foster_plot']['imp_plot']}) %}
{% endif %}

<!--******* switch ********* -->
{% for key, value in switch['plots'].items() %}
	{% if value is mapping and value|length > 0 %}
		{% for channel_key, channel_value in value.items() %}
			{% if channel_value is not none %}
			{% do switch_plots.update({channel_key: channel_value}) %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% if value is not none %}
		{% do switch_plots.update({key: value}) %}
		{% endif %}
	{% endif %}
{% endfor %}

{% if switch['foster_plot']['imp_plot'] is not none %}
{% do switch_plots.update({'imp_plot': switch['foster_plot']['imp_plot']}) %}
{% endif %}

<!--******* transistor ********* -->
{% for key, item in trans['plots'].items() %}
	{% if item is not none %}
	{% do trans_plots.update({key: item}) %}
	{% endif %}
{% endfor %}

<!-- ***** Page count setup ******* -->
{% if switch_plots|length > 6 %}
	{% set pagesReqForSwitch = 2 %}
{% endif %}

{% if diode_plots|length > 6 %}
	{% set pagesReqForDiode = 2 %}
{% endif %}

<!-- *************************************************************************************************************************************************** -->

												<!-- ************** transistor specifications table *************** -->
	<div style="border: 3px solid; height:242mm">
	<br>
	  <table class="tableCSS">
	  <tr>
		<th class="spec"><h4>Transistor Specifications</h4></th>
		<th class="value"><div class="h4style">Value</div></th>
		<th class="unit"><div class="h4style">Units</div></th>
	  </tr>
	  {% for key, value in trans.items() %}
	  {% if not key == 'plots' %}
	  <tr>
		  {% set split_list = key.split('_') %}
		  <td style="font-weight:600; font-family: Garamond">{{ split_list[0] }}{% if split_list|length > 1 %}<sub>{{split_list[1]}}</sub>{% endif %}</td>
		  {% if value is string %}
			<td style="font-family: Tahoma;">{{ value }}</td>
			<td style="text-align:center"> - </td>
		  {% else %}
			{% if key == 'Datasheet hyperlink' %}
				<td class="value" style="font-family: Tahoma;"><a href= {{ value[0] }}> {{trans["Manufacturer"][0]}}</a></td>
			{% else %}
				<td style="font-family: Tahoma;">{{ value[0] }}</td>
			{% endif %}
			{% if value[1] is none %}
				<td style="text-align:center"> - </td>
			{% else %}
				<td style="text-align:center">{{ value[1] }}</td>
			{% endif %}
		{% endif %}
	  </tr>
	  {% endif %}
	  {% endfor %}
	  </table>
	</div>

												<!-- ********** Switch and diode specifications table ************* -->
	<div style="page-break-before:always;" class="pageCSS">
	  <br>
	  <br>
		<!-- ********** switch specifications table ************* -->
		  <table class="tableCSS">
		  <tr>
			<th colspan=3><h4 style="text-align:center">{{trans["Type"][0]}} Specifications</h4></th>
		  </tr>
		  {% for key, value in switch.items() %}
		  {% if not (key == 'plots' or key == 'foster_plot') %}
		  <tr>
			   {% set split_list = key.split('_') %}
				<td class="spec" style="font-weight:600; font-family: Garamond">{{ split_list[0] }}{% if split_list|length > 1 %}<sub>{{split_list[1]}}</sub>{% endif %}</td>
				 {% if value is string %}
					<td class="value" style="font-family: Tahoma;">{{ value }}</td>
					<td class="unit" style="text-align:center"> - </td>
				{% else %}
					<td class="value" style="font-family: Tahoma;">{{ value[0]}}</td>
					{% if value[1] is none %}
					<td class="unit" style="text-align:center"> - </td>
					{% else %}
					<td class="unit" style="text-align:center">{{ value[1] }}</td>
					{% endif %}
				{% endif %}
		  </tr>
		  {% endif %}
		  {% endfor %}
		  </table>
	  <br>
	  <br>
		<!-- ********** diode specifications table ************* -->
		 <table class="tableCSS">
		   <tr>
			<th colspan=3><h4 style="text-align:center">Diode Specifications</h4></th>
		  </tr>
			{% for key, value in diode.items() %}
			{% if not (key == 'plots' or key == 'foster_plot') %}
			<tr>
			{% set split_list = key.split('_') %}
			<td class="spec" style="font-weight:600; font-family: Garamond">{{ split_list[0] }}{% if split_list|length > 1 %}<sub>{{split_list[1]}}</sub>{% endif %}</td>
			 {% if value is string %}
				<td class="value" style="font-family: Tahoma;">{{ value }}</td>
				<td class="unit" style="text-align:center"> - </td>
			{% else %}
				<td class="value" style="font-family: Tahoma;">{{ value[0] }}</td>
				{% if value[0] is none %}
				<td class="unit" style="text-align:center"> - </td>
				{% else %}
				<td class="unit" style="text-align:center">{{ value[1] }}</td>
				{% endif %}
			{% endif %}
			</tr>
			{% endif %}
			{% endfor %}
		  </table>
	</div>

												<!-- **************** Generic transistor plots ********************* -->
{% if trans_plots|length > 0 %}
	<div style="page-break-before:always;" class="pageCSS">
		<h3 class="textalign"> {{trans["Type"][0]}} Generic Plots </h3>
		  <div class="container">
			   <div class="row">
				   {% for key, value in trans_plots.items() %}
						{% if value is not none %}
						<div class="thumb">
						  <div class="imgCaption">{{trans_title[key]}}</div>
						  <img id="key" src="data:image/png;base64,{{ value }}" class="img">
						</div>
						{% endif %}
				   {% endfor %}
			   </div>
		  </div>
	</div>
	{% endif %}
												<!-- **************** Switch plots start from here ****************** -->
{% set s_plotted_keys = [] %}
{% for index in range(pagesReqForSwitch) %}
	{% set count = [] %}
	<div style="page-break-before:always;" class="pageCSS">
	  <h3 class="textalign"> {{trans["Type"][0]}} Characteristic Plots </h3>
	  <div class="container">
		   <div class="row">
			   {% for s_key, value in switch_plots.items() %}
					{% if not s_key in s_plotted_keys%}
						{% if s_key is number %}
							<div class="thumb">
								{% if s_key|abs < 25 %}
								<div class="imgCaption">Channel at Vg = {{ s_key }} V </div>   <!-- if the plot line key is v_g then gate turn on voltages are less than 25 for all switch types --->
								{% else %}											           	 <!-- else we assume plot line key is T_j --->
								<div class="imgCaption">Channel at {{ s_key }}°C  </div>
								{% endif %}
								{% set pic_id = 'pic_channel_switch_' ~ s_key|abs %}
								<img id= {{pic_id}} class="img" src="data:image/png;base64,{{ value }}" >
							</div>
						{% else %}
							<div class="thumb">
							<div class="imgCaption">{{switch_title[s_key]}}</div>
								<img id= {{s_key}} class="img" src="data:image/png;base64,{{ value }}" >
							</div>
						{% endif %}
						{% set __ = count.append(1) %}
						{% do s_plotted_keys.append(s_key) %}
						{% if count|length == 6 %}
						{% break %}
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
												<!-- **************** Diode plots start from here ****************** -->
{% set d_plotted_keys = [] %}
{% for index in range(pagesReqForDiode) %}
	{% set count = [] %}
	<div style="page-break-before:always;" class="pageCSS">
	  <h3 class="textalign"> Diode Characteristic Plots </h3>
	  <div class="container">
		   <div class="row">
			   {% for d_key, value in diode_plots.items() %}
					{% if not d_key in d_plotted_keys %}
						{% if d_key is number %}
							<div class="thumb">
								{% if d_key|abs < 25 %}
								<div class="imgCaption">Channel at Vg = {{ d_key }} V </div>   <!-- if the plot line key is v_g then gate turn on voltages are less than 25 for all switch types --->
								{% else %}											           	 <!-- else we assume plot line key is T_j --->
								<div class="imgCaption">Channel at {{ d_key }}°C  </div>
								{% endif %}
								{% set pic_id_diode = 'pic_channel_diode_' ~ d_key|abs %}
								<img id= {{pic_id_diode}} class="img" src="data:image/png;base64,{{ value }}" >
							</div>
						{% else %}
							<div class="thumb">
							<div class="imgCaption">{{diode_title[d_key]}}</div>
								<img id= {{d_key}} class="img" src="data:image/png;base64,{{ value }}" >
							</div>
						{% endif %}
						{% set __ = count.append(1) %}
						{% do d_plotted_keys.append(d_key) %}
						{% if count|length == 6 %}
						{% break %}
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}

{% endblock %}
